# Archivos compilados y de caché
__pycache__/
*.py[cod]
*$py.class

# Extensiones C
*.so

# Empaquetado y distribución
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs de instaladores
pip-log.txt
pip-delete-this-directory.txt

# Reportes de testing y cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.sveditor
.hypothesis/
.pytest_cache/
cover/

# Entornos Virtuales
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs, Editores y SO
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project
